<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="fw-bold">Explora el Mundo</h2>
      <hr>
      <p class="text-muted small">Descubre informacion detallada sobre cualquier pais del mundo.</p>
      <p class="text-muted small">
        Desarrollado con <strong>Angular 19</strong> como parte del curso de
        <a href="https://devtalles.com/" class="fw-bold text-decoration-none">DevTalles</a>
      </p>
      <hr>
      <h5 class="fw-semibold">Nuestros Servicios</h5>
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-dark btn-sm" routerLink="/countries/by-capital">Explorar por
          Capital</button>
        <button type="button" class="btn btn-outline-dark btn-sm" routerLink="/countries/by-region">Explorar por
          Region</button>
        <button type="button" class="btn btn-outline-dark btn-sm" routerLink="/countries/by-country">Explorar por
          Pais</button>
      </div>
    </div>
  </div>
</div>
